@page "/"

@inject IContactService ContactService
@inject NavigationManager NavigationManager

<h3>Contacts</h3>
@Message

<table class="table">
    <tbody>
        <tr>
            <td colspan="2"><a href="/contactdetails">Add new contact</a></td>
        </tr>
    </tbody>
</table>

@if (contacts == null)
{
    <p><em>Loadind....</em></p>
}
else
{
    //Radzen table
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4" AllowSorting="true" Data="@contacts" TItem="Contact" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="Contact" Property="FullName" Title="Name" />
            <RadzenGridColumn TItem="Contact" Property="Phone" Title="Phone" />
            <RadzenGridColumn TItem="Contact" Property="Address" Title="Address" />
            <RadzenGridColumn TItem="Contact" Title="Edit">
                <Template Context="item">
                    <RadzenLink Path="@($"/contactdetails/{item.Id}")" Text="Edit"></RadzenLink>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Contact" Title="Delete">
                <Template Context="item">
                    <RadzenLink Path="@($"/contactdelete/{item.Id}")" Text="Delete"></RadzenLink>
                    <RadzenLink Path="@($"/contactdetails/{item.Id}")" Text="Delete"></RadzenLink>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>


    //Bootstrap table
    @*<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contacts)
            {
                <tr>
                    <td>@contact.FullName</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Address</td>
                    <td><a href="/contactdetails/@contact.Id">Edit</a></td>
                    <td><a href="/contactdelete/@contact.Id" style="color: red; ">delete</a></td>
                </tr>
            }
        </tbody>
    </table>*@
}

@code {
    IEnumerable<Contact> contacts;
    public string Message { get; set; }
    protected async override Task OnInitializedAsync()
    {
        try
        {
            contacts = await ContactService.GetAll();
        }
        catch (Exception e)
        {

            Message = "Error..." + e.Message;
        }
    }
}
